.nav-link.active {
  background-color: #f7f7f7;
}

.nav-link:hover {
  background-color: #f7f7f7;
}

.text-title {
  padding-top: 5rem;
}

.banner-image {
  padding-bottom: 5rem;
}

.header {
  left: 50%;
  max-width: 1248px;
  width: 90%;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  /* top: 16px; */
  transform: translate(-50%);
  z-index: 998;
}

.header-inner {
  background-color: #fff;
  border-radius: 32px;
  flex-wrap: wrap;
  padding: 12px 12px 0 12px;
  box-shadow: 0 5px 10px #c3c3c3;
}

.header-inner,
.header-logo {
  height: 64px;
}

.header-logo {
  margin-left: 8px;
  order: 1;
}

.header-open .header-inner {
  box-shadow: 0 2px 8px rgba(26, 30, 38, 0.1);
  height: auto;
}

.header-brand {
  height: 21px;
  width: 28px;
}

.header-word {
  margin-left: 7px;
  margin-top: -4px;
}
@media screen and (min-width: 600px) {
  .header {
    top: 16px;
  }
}

@media screen and (max-width: 390px) {
  .header {
    bottom: 16px;
  }
}

@media only screen and (max-width: 390px) {
  .banner-col {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner-image,
  .banner-fit,
  .text-title {
    padding-top: 0;
    padding-bottom: 0;
  }

  .banner-col > div {
    margin-top: 3rem;
  }
}
